// VARIABLES - Colors

$primaryColor: #f8f9fa; // for HEADER

$secondaryColor: #343a40; // for FOOTER

$blue: #0099ff; // for FOOTER NAV text

$grey: #ced4da;  // for FOOTER text

$darkerGrey: #949494; // for MENU links

// MAIN CSS

header {
  
}