
// VARIABLES - Colors

$primaryColor: #f8f9fa; // for HEADER

$secondaryColor: #343a40; // for FOOTER

$blue: #0099ff; // for FOOTER NAV text

$grey: #ced4da;  // for FOOTER text

// MAIN CSS

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // background-color: $blue;
}

header {
  width: 100%;
  background-color: $primaryColor;

  > div {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    > img {
      width: 6rem;
    }

    > nav {
      align-self:center;

      > a {
        margin: 0 1rem;
        lin
      }
    }
  }


}









