// VARIABLES - Colors

$primaryColor: #f8f9fa; // for HEADER

$secondaryColor: #343a40; // for FOOTER

$blue: #0099ff; // for FOOTER NAV text

$grey: #ced4da;  // for FOOTER text

$darkerGrey: #949494; // for MENU links



// MAIN

main {
  width: 80vw;
  margin: 2rem auto 0;
}

.image-wrapper {

  > img {
    width: 80vw;
  }
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.info-item {
  width: calc(100%/3);

  > h3 {
    margin-bottom: 0.5rem;

  }

  > p {
    margin: 0.5rem 0;
  }

}

// .map {
//   width: 80vh;
//   margin: 0 auto;
// }

iframe {
  margin: 0 0 -50px 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 650px;
  z-index: 2;
  
}









