.block {
    display: flex;
    justify-content: space-between;

    .items {
        display: flex;
        flex-direction: column;
    }

    .prices {
        display: flex;
        flex-direction: column;
    }
}
