main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
}

.block {
    max-width: 100px;
    display: flex;
    justify-content: space-between;

    .items {
        display: flex;
        flex-direction: column;
    }

    .prices {
        display: flex;
        flex-direction: column;
    }
}
